* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 10vmin;
    text-align: center;
    background-color: pink;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vmin;
}

.players {
    font-size: 5vmin;
    display: flex;
    margin-top: 10vmin;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17vmin;
}

.btn {
    font-size: clamp(4px, 2.5vmin, 18px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
    margin-top: 10vmin;
    height: 12vmin;
    width: 12vmin;
    border-radius: 50%;
    border: none;
}
img{
    border-radius: 50%;
    height: 10vmin;
    width: 10vmin;

}
.btn:hover {
    background-color: black;
}

#result {
    margin-top: 10vmin;
    font-style: italic;
}

.hide {
    display: none;
}

.fllscrn {
    margin-top: 25vh;
    margin-bottom: 60vh;
    font-size: 50px;
    transition: all 0.7s ease-in-out;
}

#NewGame, #resetGame{
    font-size: large;
    margin-top: 5vmin;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 1rem;
    border: none;
}